<div class="container-fluid">
  <div class="row header-logo">
    <div class="col-10">
      <a href="#">
        <img src="assets/img/logo-axa.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-2 d-flex">
      <a href="/logout" class="ml-auto p-2 icono">
        <img src="assets/img/logout.svg" class=" iconos" alt="">
      </a>
    </div>
  </div>
  <div class="row header-menu">
    <div class="col-12">
      <!-- INICIO MENU -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{user.mx}} | {{user.name}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Reporte PLD
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/reportes">Generar Reporte</a>
                  <a class="dropdown-item" href="/listaReportes">Editar
                    Reporte</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Consultas
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink1">
                  <a class="dropdown-item" href="/consultaCliente">Consulta
                    Cliente</a>
                  <a class="dropdown-item" href="/consultaOndemand">Consulta
                    OnDemand</a>
                  <a class="dropdown-item" href="/consulta/bitacora">Consulta
                    Bitácora</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Administración de Catálogos
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink2">
                  <a class="dropdown-item" href="/catalogo/tipoReporte">Tipo de
                    Reporte</a>
                  <a class="dropdown-item" href="/catalogo/organoSupervisor">Órgano Supervisor</a>
                  <a class="dropdown-item" href="/catalogo/sujetoObligado">Sujeto Obligado</a>
                  <a class="dropdown-item" href="/catalogo/tipoOperacion">Tipo
                    de Operación</a>
                  <a class="dropdown-item" href="/catalogo/instrumentoMonetario">Instrumento
                    Monetario</a>
                  <a class="dropdown-item" href="/catalogo/tipoMoneda">Tipo de
                    Moneda</a>
                  <a class="dropdown-item" href="/catalogo/nacionalidad">Nacionalidad</a>
                  <a class="dropdown-item" href="/catalogo/tipoPersona">Tipo de
                    Persona</a>
                  <a class="dropdown-item" href="/catalogo/localidad">Localidad</a>
                  <a class="dropdown-item" href="/catalogo/actividadEconomica">Actividad Económica</a>
                  <a class="dropdown-item" href="/catalogo/estatusReporte">Estatus de Reportes</a>
                  <a class="dropdown-item" href="/catalogo/deleteReportes">Proceso Depuración</a>
                </div>
              </li>


            </ul>

          </div>
        </div>
      </nav>
      <!-- FIN MENU -->
    </div>
  </div>
</div>
