<div class="container-fluid roberto" style="border: 1px solid red;">
  <div class="row header-logo">
    <div class="col-10 ">
      <a href="#">
        <img src="assets/img/logo-axa.png" alt="" class="img-fluid" >
      </a>
    </div>
    <div class="col-2 d-flex">
      <a href="/logout" class="ml-auto p-2 icono">
        <img src="assets/img/logout.svg" class=" iconos" alt="">
      </a>
    </div>
  </div>
  <div class="row header-menu">
    <div class="col-12">
      <!-- INICIO MENU -->
      <nav class="navbar navbar-expand-lg navbar-light  ">
        <a class="navbar-brand" href="#"><span class="axa-bold"> {{user.mx}} | {{user.name}}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!-- <security:authorize access="hasRole('MxApps_RerpotesPLD_Analista')"> -->
              <li class="nav-item">
                <a class="nav-link " href="/reportes">
                  <i class="fa fa-chart-line"></i>Reporte PLD
                </a>
              </li>
            <!-- </security:authorize> -->
            <!-- <security:authorize access="hasRole('MxApps_RerpotesPLD_Analista')"> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Administrador Reportes
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink3">
                  <a class="dropdown-item" href="/gestorReportes">Gestor de
                    Reportes</a>
                </div>
              </li>
            <!-- </security:authorize> -->
            <!-- <security:authorize access="hasAnyRole('MxApps_RerpotesPLD_Analista','MxApps_RerpotesPLD_Consulta')"> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Consultas
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink1">
                  <a class="dropdown-item" href="/consultaCliente">Consulta
                    Cliente</a>
                  <a class="dropdown-item" href="/consultaOndemand">Consulta
                    OnDemand</a>
                  <!-- <security:authorize access="hasAnyRole('MxApps_RerpotesPLD_Analista')"> -->
                    <a class="dropdown-item" href="/consulta/bitacora">Consulta
                      Bitácora</a>
                  <!-- </security:authorize> -->
                </div>
              </li>
            <!-- </security:authorize> -->
            <!-- <security:authorize access="hasRole('MxApps_RerpotesPLD_Admin')"> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chart-line"></i>Administración de Catálogos
                </a>
                <div class="dropdown-menu dropdown-menu-header" aria-labelledby="navbarDropdownMenuLink2">
                  <a class="dropdown-item" href="/catalogo/tipoReporte">Tipo de
                    Reporte</a>
                  <a class="dropdown-item"
                    href="/catalogo/organoSupervisor">Órgano Supervisor</a>
                  <a class="dropdown-item"
                    href="/catalogo/sujetoObligado">Sujeto Obligado</a>
                  <a class="dropdown-item" href="/catalogo/tipoOperacion">Tipo
                    de Operación</a>
                  <a class="dropdown-item"
                    href="/catalogo/instrumentoMonetario">Instrumento
                    Monetario</a>
                  <a class="dropdown-item" href="/catalogo/tipoMoneda">Tipo de
                    Moneda</a>
                  <a class="dropdown-item"
                    href="/catalogo/nacionalidad">Nacionalidad</a>
                  <a class="dropdown-item" href="/catalogo/tipoPersona">Tipo de
                    Persona</a>
                  <a class="dropdown-item"
                    href="/catalogo/localidad">Localidad</a>
                  <a class="dropdown-item"
                    href="/catalogo/actividadEconomica">Actividad Económica</a>
                  <a class="dropdown-item"
                    href="/catalogo/estatusReporte">Estatus de Reportes</a>
                  <a class="dropdown-item"
                    href="/catalogo/deleteReportes">Proceso Depuración</a>
                </div>
              </li>
            <!-- </security:authorize> -->
          </ul>
        </div>
      </nav>
      <!-- FIN MENU -->
    </div>
  </div>
</div>
