 <!-- <app-head></app-head> -->
 <!-- <app-head2></app-head2> -->
<!-- <app-header></app-header> -->
<!-- <app-info></app-info> -->

<!-- <app-main></app-main> -->
<!-- <app-reportes></app-reportes> -->
<app-formularioReporte></app-formularioReporte>
<!-- <app-lista-reportes></app-lista-reportes> -->

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="row">
    <div id="htmlData">
      <h2>Lista de videojuegos en stock</h2>
      <table class="table table-bordered mt-4" #userTable>
        <tr class="table-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Platform</th>
          <th>Reference</th>
        </tr>
        <tr *ngFor="let game of VIDEOGAMES">
          <th>{{game.id}}</th>
          <td>{{game.name}}</td>
          <td>{{game.platform}}</td>
          <td>{{game.reference}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <button class="btn col col-lg-6 btn-danger" (click)="downloadPDF()">Download PDF</button>
    </div>
    <div class="col-3">
      <button class="btn col col-lg-6 btn-primary" (click)="exportExcel()">Download XLSX</button>
    </div>
    <div class="col-3">
      <button class="btn col col-lg-6 btn-info" (click)="exportCSV()">Download CSV</button>
    </div>
  </div>


</div> -->
