.spacio {
  margin-top: 15px !important;
}

.botonLargo {
  width: 175px;
}

.ajax-loader {
  position: fixed;
  left:45%;
  top: 40%;
  display: block;
}

#processingGeneral {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .6;
}
