<!-- HEADER -->
<header id="header">
  <!-- 	<div id="logo-group" class="containerHead"> -->
  <div class="axa-facil-profile-container">
    <div class="axa-facil-float-right axa-color visible_only_desktop_tablet">

      <span class="axa-bold"> ${{user.mx}}</span> |
      <span class="axa-bold"> ${{user.name}}</span>
      <span><a href="/logout">Logout</a></span>
    </div>
    <div class="clear"></div>
  </div>

  <div id="logo" class="logo">
    <span id="logo"> <img class="imagenLogo" src="/assets/img/logo_axa.png" alt="">
    </span>
  </div>
  <span><a href="/logout">Logout</a></span>


</header>
<!-- END HEADER -->
